/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset browser styles */

/* basic layout -- 2 columns */
.main {
	float: left;
	width: 580px;
}
.sidebar {
	margin-left: 600px;
	padding: 15px;
	background: #E9F5FE;
}

body{
	color: #B1967C;
	font-family: "Palatino Linotype", Baskerville, serif;
	padding-top: 115px;
	background: #CDE6FF url(images/bg_body.png) repeat-x;
	width: 800px;
	margin: 0 auto;
}

h1{
	font-size: 3em;
	font-family: "Arial Black", Arial, sans-serif;
	margin-bottom: 15px;
}

h2{
	font-size: 2.2em;
	color: #AFC3D6;
	margin-bottom: 5px;
}

.main h2 {
	color: #E8A064;
	border-bottom: 2px white solid;
	background: url(images/bullet_flower.png) no-repeat;
	padding: 0 0 2px 80px;
}

.main p {
	color: #616161;
	font-family: "Palatino Linotype", Baskerville, serif;
	font-size: 1.1em;
	line-height: 150%;
	margin-bottom: 10px;
	margin-left: 80px;
}

p.intro {
	color: #6A94CC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin-left: 0;
	margin-bottom: 25px;
}
