/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset browser styles */

body {
	font-size: 62.5%;
}

.content {
	margin: 15px;
	border: 1px dashed #999;
	border-right: none;
	border-bottom: none;
}
h1 {
	font: normal 2.4em Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	border-bottom: 1px dashed #999;
	padding: 5px 0 5px 8px;
	color: #14556b;
}
p {
	font: 1.6em/160% Georgia, "Times New Roman", Times, serif;
	margin: 10px 8px;
}
.copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	color: #666666;
	margin-left: 0px;
	padding-left: 8px;
	border-top: 1px dashed #999;
	clear: both;
}

figure {
	float: right;
	width: 222px;
	margin: 15px 10px 5px 10px;
}

figure img {
	border: 1px solid #666;
	background-color: #CCC;
	padding: 10px;
}

figcaption {
	font: bold 1em/normal Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	text-align: center;
	background-color: #e6f3ff;
	border: 1px dashed #666;
	padding: 5px;
}
