body {
  width: 70%;
  padding: 10px;
  box-shadow: 5px 10px 10px rgba(0,0,0,.5);
  margin: 0 auto;
}

header, footer {
  text-align: center;
  background-color: #151514;
}

.note {
  border: 0.12em solid #6d6969;
  background-color: #f9f3ee;
  margin: 10px auto 5px;
  width: 75%;
}

header h1, .note h2, footer p {
  font-family: 'PT Sans Narrow', sans-serif;
}

header h1 {
  color: #e1dedb;
  font-size: 3em;
  text-transform: uppercase;
}

.note h2 {
  font-size: 1.2em;
  color: #6d6969;
  text-transform: uppercase;
  margin: 0 10px;
  background-color: #f6cb9f;
}

.note p, table {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: normal;
  font-size: 1.1em;
  color: #292727;
}

.note p {
  line-height: 1.1em;
  padding: 10px;
  margin-top: -8px;
  margin-bottom: -8px;
}

.note table {
  margin: 5px auto 5px;
  border-collapse: collapse;
  width: 75%;
}

.note thead td, tr td {
  padding: 1px; /* Поля вокруг текста */
  border: 1px solid #333; /* Граница вокруг ячеек */
}

.note thead td {
  background-color: orange;
}

.note tr:nth-child(odd) {
  background-color: #f7f09d;
}

.note tr:nth-child(even) {
  background-color: #ece9e9;
}

.note tr:nth-child(1n+1):hover {
  background-color: #d9f0ff;
}

footer p{
  font-size: 1.2em;
  color: #e1dedb;
}
