html {
  font: 62.5% "Cleanvertising", Helvetica, Arial, sans-serif;
}

.layer {
  width: 800px;
  height: 1200px;
  margin: 0 0 0 25%;
  background: url(../img/bckgr.png) no-repeat;
  background-position: center;
}

.main {
  width: 700px;
  height: 1188px;
  margin: 0 auto;
  background: rgba(20,19,19,.1);
  border: 6px solid rgb(220,121,184);
}

.main h1, .main h2, .main .date {
  padding: 0 0 0 35px;
  text-align: center;
}

.main h1 {
  font-size: 98px;
  letter-spacing: -.1em;
  color: white;
  line-height: 1em;
}

.main h2 {
  color: rgb(220,121,184);
  font-size: 3em;
  letter-spacing: 1.1em;
  padding-left: 2em;
}

.main .date {
  color: rgb(243,240,240);
  font-size: 3em;
  text-transform: lowercase;
  font-variant: small-caps;
}

.main .date span {
  font-weight: bold;
  color: orange;
}

p {
  font-size: 2.2em;
  color: rgb(250,250,250);
  padding-top: 5px;
}

article p:not(.tracklist):first-letter {
  color: orange;
}

.main article {
  width: 400px;
  height: 400px;
  margin: 2% 0 0 25%;
}

.main ol {
  float: right;
  /*margin: -194px 20px 10px 0;*/
}

.main li {
  color: rgb(250,250,250);
  font-size: 1.2em;
  margin-bottom: 4px;
}

.question {
  font-weight: bold;
  color: rgb(199,184,184);
  border-top: 2px solid orange;
}

.answer {
  padding: 10px 10px 10px 0;
}

.last_answer {
  border-bottom: 2px solid orange;
}

.band_member {
  font-size: 1.2em;
  text-transform: lowercase;
  font-variant: small-caps;
}

.cover {
  width: 200px;
  height: 200px;
  background: url(../img/cover.jpg) no-repeat;
  background-position: center;
  background-size: 100%
}

.tracklist {
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: center;
}

.ie_message {
  display: none;
}
